<div class="card mt-3 mb-4" style="width: 100%">
    <div class="card-header">Customers</div>
    <div class="card-body">
      <h5 class="card-title">Customer list</h5>

      <div class="my-2 text-left">
        <button class="btn btn-primary btn-rounded"
        [routerLink]="['/customers/create']">Create</button>
      </div>
      
      <div *ngIf="customers?.length == 0" class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Customer list empty</h5>
          <p class="card-text">Here, can you see the customer list. Please create your first customer.</p>
        </div>
      </div>

      <table *ngIf="customers?.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.lastname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.createdAt | date:'yyyy-MM-dd'}}</td>
            <td><button class="btn btn-outline-primary" [routerLink]="['/customers/create', customer.id]">🖊</button></td>
            <td><button class="btn btn-outline-danger" (click)="deleteCustomer(customer)">✖</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>