<div class="card mt-3 mb-4" style="width: 100%">
    <div class="card-header">Home</div>
    <div class="card-body">
        <h5 class="card-title">Customers App Home</h5>
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-bs-target
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eos a suscipit molestias incidunt non sit, molestiae qui mollitia inventore ipsum quisquam esse id. Doloremque ad voluptatum vel nesciunt obcaecati.
              Tenetur quasi ratione fuga consectetur repellendus sint sed sequi expedita repellat, corrupti eos? Unde est enim suscipit quibusdam molestias assumenda iure, officiis pariatur, fugit, aliquam inventore fugiat praesentium veritatis rem.
              Dolor earum ullam vel consectetur autem ipsa ea quasi commodi quos, veritatis cupiditate corrupti totam velit laudantium repellat officiis eveniet? Explicabo consequatur pariatur minus perspiciatis. Sed eligendi mollitia neque doloribus!
            </div>
          </div>
          
    </div>
</div>